body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #0e0f12;
  color: #eaeaea;
}

.progress-gradient {
  background: linear-gradient(to right, #dbd6d5, #527edd);
}

.top-glow {
  box-shadow: 0 -26px 20px rgba(105, 102, 129, 0.3);
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.dot {
  width: 6px;
  height: 6px;
  background-color: #4a4b4c;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  animation: blink 1s infinite;
}

.circle-outer {
  background: linear-gradient(to bottom, #54d5f9, #54cbec);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 90vw;
  max-width: 360px;
  max-height: 360px;
  border: 2px solid #585f7e;

  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(112, 112, 112, 0.3);
}

.circle-inner {
  background: radial-gradient(circle, #6ae6ef, #6ae6ef);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(184, 179, 225, 0.2);
  border-radius: 50%;
}

@keyframes float {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.fixed-bottom-nav {
  background: linear-gradient(to right, #0e0f12, #3e3f45);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
}

.fixed-bottom-nav div {
  transition: background 0.3s ease;
}

.fixed-bottom-nav div:hover {
  background: #b5b4b3;
}

.fixed-bottom-nav p {
  transition: color 0.3s ease;
}

.fixed-bottom-nav div:hover p {
  color: #fff;
}

.text-center img {
  transition: transform 0.3s ease;
}

.text-center img:hover {
  transform: scale(1.1);
}

.absolute {
  animation: float 1s ease-out;
}
